.container-fluid{
  font-size:small;
}


.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


.col-2 ,.col-3{
  padding-top: 10px
}

.description{
  padding-bottom: 10px;
}


.input-row {
  display: flex;
  align-items: center;
}

.id-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

input {
  flex: 1;
  margin-right: 10px;
}

