<!--<app-typeahead></app-typeahead>-->
<!--<app-table-display></app-table-display>-->


<div class="container-fluid no-select" >
  <br>
  <br>
  <div class="row">
    <h6>Template Details</h6>
  </div>
  <br>
  <div class="card shadow-lg border border-sm">
    <div class="card-body">
      <br>
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label for="client" class="form-label">Font Size</label>
            <select class="form-select" id="client" aria-label="Default select example" formControlName="client">
              <option selected></option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="testCertificateNo" class="form-label">Top Margin</label>
            <input type="text" class="form-control" id="testCertificateNo" formControlName="testCertificateNo">
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="typeOfExam" class="form-label">Bottom Margin</label>
            <select class="form-select" id="typeOfExam" aria-label="Default select example" formControlName="typeOfExam">
              <option selected></option>
              <option value="1">Test</option>
              <option value="2">Thorough</option>
            </select>
          </div>
        </div>
      </div>
      <br>
      <div class="row justify-content-end">
        <div class="col-auto">
          <button class="btn btn-dark">Submit</button>
        </div>
        <div class="col-auto">
          <button class="btn btn-dark">Clear</button>
        </div>
      </div>
    </div>
  </div>


  <br>
  <div class="card shadow-lg border border-sm">
    <div class="card-body">
      <!--      <app-table-display></app-table-display>-->
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Client</th>
            <th scope="col">Location</th>
            <th scope="col">Date of Inspection</th>
            <th scope="col">Type of Exam</th>
            <th scope="col">Category</th>
            <th scope="col">Equipment No.</th>
            <th scope="col">Title</th>
            <th scope="col">SWL</th>
            <th scope="col">Proof Load</th>
            <th scope="col">Next Test Exam</th>
            <th scope="col">Next Thorough Exam</th>
            <th scope="col">Result</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>11</td>
              <td>XYZ</td>
              <td>ABCG</td>
              <td>2023-01-01</td>
              <td>Test</td>
            </tr>
            <tr>
              <td>13</td>
              <td>XYZ</td>
              <td>ABCG</td>
              <td>2023-01-01</td>
              <td>Test</td>
            </tr>
            <tr>
              <td>121</td>
              <td>XYZ</td>
              <td>ABCG</td>
              <td>2023-01-01</td>
              <td>Test</td>
            </tr>
            <tr>
              <td>171</td>
              <td>XYZ</td>
              <td>ABCG</td>
              <td>2023-01-01</td>
              <td>Test</td>
            </tr>
            <tr>
              <td>118</td>
              <td>XYZ</td>
              <td>ABCG</td>
              <td>2023-01-01</td>
              <td>Test</td>
            </tr>
            <tr>
              <td>1166</td>
              <td>XYZ</td>
              <td>ABCG</td>
              <td>2023-01-01</td>
              <td>Test</td>
            </tr>
            <tr>
              <td>1154</td>
              <td>XYZ</td>
              <td>ABCG</td>
              <td>2023-01-01</td>
              <td>Test</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>






</div>

